*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:white;
    font-size: 16px;
    width: 100%;
    background-color: black;
    text-align: center;
}

div{
    width: 100%;
}

#main-caption h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

div .banner{
    margin: 0 auto;
}
div a{
    color: aquamarine;
    text-decoration: none;
}

.mobile-logo{
    width: 50px;
}

div video{
    margin: 0 auto;
}
div h1{
    font-size: 42px;
    font-weight: 300;
}

div p{
    color: gray;
    font-size: 21px;
}

div:nth-of-type(3){
    margin-top: 40px;
}

footer p{
    text-align: end;
    padding-right: 10px;
}

/* tab */

@media only screen and (max-width:890px){
    .camp{
        width: 90%;
    }
}

    

